In [6]:
path = '/content/drive/MyDrive/datasets/adult.csv'

In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
df = pd.read_csv(path)
df

FileNotFoundError: ignored

In [ ]:
## Generate a pivot table showing the number of people for each marital status.

In [ ]:
myTable = pd.pivot_table(df,         
               index = 'marital-status',
               aggfunc = ['count'], 
               values = ['fnlwgt'],
               margins = True,
)
myTable

                        count
                       fnlwgt
marital-status
 Divorced                4443
 Married-AF-spouse         23
 Married-civ-spouse     14976
 Married-spouse-absent    418
 Never-married          10683
 Separated               1025
 Widowed                  993
 test_category_female       1
 test_category_male         2
All                     32564

In [ ]:
#Add a column showing the percentage of people for each marital status.

In [ ]:
x = len(df)

In [ ]:
x

32564

In [ ]:
myTable

                        count
                       fnlwgt
marital-status
 Divorced                4443
 Married-AF-spouse         23
 Married-civ-spouse     14976
 Married-spouse-absent    418
 Never-married          10683
 Separated               1025
 Widowed                  993
 test_category_female       1
 test_category_male         2
All                     32564

In [ ]:
myTable['percentage'] = (myTable['count']/x) * 100

In [ ]:
myTable

                        count  percentage
                       fnlwgt
marital-status
 Divorced                4443   13.643901
 Married-AF-spouse         23    0.070630
 Married-civ-spouse     14976   45.989436
 Married-spouse-absent    418    1.283626
 Never-married          10683   32.806166
 Separated               1025    3.147648
 Widowed                  993    3.049380
 test_category_female       1    0.003071
 test_category_male         2    0.006142
All                     32564  100.000000

In [ ]:
#Group the three types of married people and repeat the steps.